@tailwind base;
@tailwind components;
@tailwind utilities;

:root[theme="light"] {
	--text-gradient: linear-gradient(180deg, #555555, #000000);
	--text-gradient-alt: linear-gradient(180deg, #a8baf6, #000000);
	--bg: #ffffff;
	--header-bg: #f2f2f2;
	--copied-bg: #b9d5f9;
	--primary: #18181b;
	--secondary: #52525b;
	--board: #18181b1a;

	--primary-btn-text: #3f3f46;
	--primary-btn-text-hover: #18181b;
	--primary-btn-bg: #ffffff;
	--primary-btn-bg-hover: #18181b06;
	--primary-btn-border: #18181b1a;
	--primary-btn-border-hover: #18181b1a;

	--secondary-btn-text: #ffffff;
	--secondary-btn-text-hover: #ffffff;
	--secondary-btn-bg: #18181b;
	--secondary-btn-bg-hover: #3f3f46;
	--secondary-btn-border: #18181b;
	--secondary-btn-border-hover: #3f3f46;

	--feature-card-bg: #00000012;
	--feature-card-icon: #467ae2;

	--quickstart-route-bg: #00000012;
	--quickstart-route-accent: #467ae2;

	--examples-accent: #467ae2;
	--code-0: #2e3440;
	--code-1: #82a461;
	--code-3: #6a66e3;
	--code-4: #738ac1;
	--code-5: #886293;
	--code-6: #a9adb5;
}

:root[theme="dark"] {
	--text-gradient: linear-gradient(180deg, #ffffff, #adadad);
	--text-gradient-alt: linear-gradient(180deg, #4f44c9, #adadad);
	--bg: #18181b;
	--header-bg: #111111;
	--copied-bg: #657193;
	--primary: #ffffff;
	--secondary: #a1a1aa;
	--board: #ffffff2a;

	--primary-btn-text: #a1a1aa;
	--primary-btn-text-hover: #ffffff;
	--primary-btn-bg: #18181b;
	--primary-btn-bg-hover: #ffffff0d;
	--primary-btn-border: #a1a1aa;
	--primary-btn-border-hover: #a1a1aa;

	--secondary-btn-text: #467ae2;
	--secondary-btn-text-hover: #6e9ce7;
	--secondary-btn-bg: #467ae226;
	--secondary-btn-bg-hover: #467ae226;
	--secondary-btn-border: #467ae233;
	--secondary-btn-border-hover: #467ae2;

	--feature-card-bg: #ffffff0f;
	--feature-card-icon: #467ae2;

	--quickstart-route-bg: #ffffff0f;
	--quickstart-route-accent: #467ae2;

	--examples-accent: #467ae2;
	--code-0: #eceff4;
	--code-1: #a3be8c;
	--code-3: #81a1c1;
	--code-4: #5e81ac;
	--code-5: #b48ead;
	--code-6: #4c566a;
}

@media (prefers-color-scheme: light) {
	:root {
		--text-gradient: linear-gradient(180deg, #555555, #000000);
		--text-gradient-alt: linear-gradient(180deg, #a8baf6, #000000);
		--bg: #ffffff;
		--header-bg: #f2f2f2;
		--copied-bg: #b9d5f9;
		--primary: #18181b;
		--secondary: #52525b;
		--board: #18181b1a;

		--primary-btn-text: #3f3f46;
		--primary-btn-text-hover: #18181b;
		--primary-btn-bg: #ffffff;
		--primary-btn-bg-hover: #18181b06;
		--primary-btn-border: #18181b1a;
		--primary-btn-border-hover: #18181b1a;

		--secondary-btn-text: #ffffff;
		--secondary-btn-text-hover: #ffffff;
		--secondary-btn-bg: #18181b;
		--secondary-btn-bg-hover: #3f3f46;
		--secondary-btn-border: #18181b;
		--secondary-btn-border-hover: #3f3f46;

		--feature-card-bg: #00000012;
		--feature-card-icon: #467ae2;

		--quickstart-route-bg: #00000012;
		--quickstart-route-accent: #467ae2;

		--examples-accent: #467ae2;
		--code-0: #2e3440;
		--code-1: #82a461;
		--code-3: #6a66e3;
		--code-4: #738ac1;
		--code-5: #886293;
		--code-6: #a9adb5;
	}

	body {
		background: var(--bg)
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--text-gradient: linear-gradient(180deg, #ffffff, #adadad);
		--text-gradient-alt: linear-gradient(180deg, #4f44c9, #adadad);
		--bg: #18181b;
		--header-bg: #111111;
		--copied-bg: #657193;
		--primary: #ffffff;
		--secondary: #a1a1aa;
		--board: #ffffff2a;

		--primary-btn-text: #a1a1aa;
		--primary-btn-text-hover: #ffffff;
		--primary-btn-bg: #18181b;
		--primary-btn-bg-hover: #ffffff0d;
		--primary-btn-border: #a1a1aa;
		--primary-btn-border-hover: #a1a1aa;

		--secondary-btn-text: #467ae2;
		--secondary-btn-text-hover: #6e9ce7;
		--secondary-btn-bg: #467ae226;
		--secondary-btn-bg-hover: #467ae226;
		--secondary-btn-border: #467ae233;
		--secondary-btn-border-hover: #467ae2;

		--feature-card-bg: #ffffff0f;
		--feature-card-icon: #467ae2;

		--quickstart-route-bg: #ffffff0f;
		--quickstart-route-accent: #467ae2;

		--examples-accent: #467ae2;
		--code-0: #eceff4;
		--code-1: #a3be8c;
		--code-3: #81a1c1;
		--code-4: #5e81ac;
		--code-5: #b48ead;
		--code-6: #4c566a;
	}

	body {
		background: var(--bg)
	}
}

body {
	background: var(--bg);
}

.gradient-text {
	background: var(--text-gradient);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.gradient-text-alt {
	background: var(--text-gradient-alt);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}